
h1{
	font-weight: normal;
}
.head_1{
	font-weight: normal;
	font-size: 18;
	font-style: italic;
}
.Table{
	border-color: black;
	border-style: solid;
}
.vertical_text_1{
	
}
.a_c{
	text-align: center;
}
a{
	color: blue;
}
h3{
	font-style: italic;
	font-weight: normal;
}